* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('starryOcean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;

}

.logo {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    color: white;
}
.menu div{
    cursor: pointer;
}
.search-container{
    display: flex;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 25px;
    overflow: hidden;
}
.search-container input{
    border: none;
    padding: 8px 12px;
    outline: none;
    background: transparent;
    color: white;
}
.search-container input::placeholder{
    color: white;
    opacity: 0.7;
}
.search-container button{
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.main-container {
    margin-top: 100px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;

}

.main-left {
    position: relative;
    width: 55%;
    color: white;
}

.login {
    position: absolute;
    left: 70%;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 220px;
    /* background-color: black; */
    background: linear-gradient(
             45deg,
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(1px) saturate(240%);
    -webkit-backdrop-filter: blur(1px) saturate(240%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    align-content: center;
    border-radius: 16px;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login input {
    background: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    padding: 8px 4px;
    color: orange;
    font-size: 14px;
    outline: none;
}

.login input::placeholder {
    color: white;
    opacity: 0.7;
}

.login input:focus {
    border-bottom-color: rgb(86, 7, 3);
}

button {
    background-color: orangered;
    border: none;
    color: white;
    padding:8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.login p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.login span {
    color: orangered;
    cursor: pointer;
}
.signup-link {
    color: orangered;
    font-weight: 600;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
