h1{
  color: blue;
  background-color: rgb(109, 176, 243);
}
h2{
  color: rgb(66, 8, 8);
  background-color: rgb(244, 200, 200);
}
p{
  color: rgb(18, 54, 14);
  background-color: rgb(178, 245, 223);
}